.st-outer {
  padding: 30px;
  background: #fff;
  margin-top: -10px;
  border: 1px solid #eaeaea;
  font-family: Helvetica;
}
.st-format-bar {
  font-size: 16px;
}
.st-text-block {
  ul {
    list-style-type: disc;
  }
}
.st-block-control {
  text-decoration: none;
}
