<!DOCTYPE html>
<html>
<head>
  <title>Petrie</title>
  <%= stylesheet_link_tag    "petrie/application", media: "all" %>
  <%= javascript_include_tag "petrie/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
